* {
	margin: 0;
	padding: 0;
	z-index: 1;
}

html {
	scroll-behavior: smooth;
}

body {
	font: 400 14px/1 'Open Sans', sans-serif;
	overflow-x: hidden;
	background-color: #000;
	margin: 0 auto;
}

main {
	max-width: 70vw;
	margin: 0 auto;
}

h1, h2, h3, h4 {
	font: 800 14px/1 'Open Sans', sans-serif;
	color: #fff;
	font-style: normal;
	line-height: normal;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1rem;
	font-weight: 400;
}

a {
	color: #fff;
	font: 400 14px/1 'Bruno Ace SC', sans-serif;
	text-decoration: none;
}

button {
	display: inline-flex;
	width: 11.0625rem;
	height: 3.25rem;
	padding: 16px 60px;
	border-radius: 50px;
	border: 2px solid transparent;
	cursor: pointer;
	color: #212121;
	font-size: 16px;
	font-weight: 800;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	background-color: #FAFF00;
	border-color: #FAFF00;
	box-shadow: 0 8px 15px rgba(255, 253, 0, 0.5);
}

button:hover {
	background-color: #ffffff;
}

/* TOOLS */

.space {
	width: 100%;
	height: 20vh;
}

/* HEADER ASIDE */

.nav {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 10%;
	right: 0;
	height: 90vh;
	width: 20vw;
	background-color: #000;
	border-left: 2px solid #FAFF00;
	box-shadow: 0 10px 20px rgba(255, 253, 0, 0.2);
	animation: burgerAnimation 0.6s;
	opacity: .9;
}

@keyframes burgerAnimation {
	from{opacity: 0;}
	to{opacity: .9;}
}

.nav ul {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	list-style: none;
	font-size: 4vmin;
	text-transform: uppercase;
	padding-bottom: 5vh;
	padding-left: 4vw;
	overflow-y: auto;
}

.nav ul li {
	padding-top: 5vh;
}

.nav a:hover {
	color: #FAFF00;
}

.open {
	display: flex;
}

.burger {
	display: flex;
	position: relative;
	z-index: 100;
	align-items: center;
	justify-content: flex-end;
	width: 3.1vmin;
	height: 2.7vmin;
}

.burger span {
	height: .2vmin;
	width: 80%;
	transform: scale(1);
	background-color: #fff;
	transition: all 0.5s ease 0s;
}

.burger::before, .burger::after {
	content: "";
	position: absolute;
	height: .2vmin;
	width: 100%;
	background-color: #fff;
	transition: all 0.5s ease 0s;
}

.burger::before { 
	top: 0; 
}

.burger::after {
	bottom: 0;
}

.burger:hover::after, .burger:hover::before, .burger:hover span{
	background-color: #FAFF00;
}

.burger.active span {
	transform: scale(0);
}

.burger.active::before{
	top: 50%;
	transform: rotate(-45deg) translate(0, -70%);
}

.burger.active::after{
	bottom: 50%;
	transform: rotate(45deg) translate(0, 70%);
}

.burger.active:hover::after, .burger.active:hover::before{
	background-color: #FAFF00;
}

/* HEADER SECTION */

.header_title {
	color: #fff;
	font: 400 28px/1 'Bruno Ace SC', sans-serif;
}

header {
	border-bottom: 2px solid #FAFF00;
	box-shadow: 0 10px 20px rgba(255, 253, 0, 0.2);
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	position: fixed;
	z-index: 101;
	background-color: #000;
}

.header_container {
	max-width: 70vw;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 50%;
	display: flex;
	align-items: center;
}

/* HOME SECTION */

.home_back {
	position: absolute;
}

.background {
	z-index: 0;
}

.rectangle {
	position: absolute;
	flex-shrink: 0;
}

.rectangle {
	background: linear-gradient(90deg, #000 10.93%, rgba(0, 0, 0, 0.00) 40.25%),
            linear-gradient(-90deg, #000 15.93%, rgba(0, 0, 0, 0.00) 50.25%),
            linear-gradient(0deg, #000 35.93%, rgba(0, 0, 0, 0.00) 55.25%);
}

.utp_container {
	display: flex;
	flex-direction: column;
	padding-top: 35vh;
}

.utp_container h1 {
	margin-bottom: 50px;
}

.utp {
	width: 100%;
	height: 80vh;
}

/* ADVANTAGES */

.adv_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.advantages_title {
	display: flex;
}

.advantages_title h2 {
	margin-bottom: 125px;
}

.block {
	display: flex;
	flex-direction: row;
	width: 50%;
	min-height: 10vh;
	margin-bottom: 8vh;
}

.block_image {
	width: 10%; 
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.text_block h3 {
	margin-bottom: 4px;
}

.text_block {
	margin-left: 40px;
}

/* MEMBERSHIP */

.membership {
	width: 100%;
	height: 150vh;
}

.membership_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 10%;
	width: 80%;
	height: 100%;
}

.pass {
	width: 28%;
	height: 40%;
	background-color: #222222;
	border-radius: 5%;
}

.pass_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 75%;
	align-items: center;
}

.pass_buy {
	width: 33.3%;
	height: 11.1%;
	margin-bottom: 11.1%;
}

.pass_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: 100%;
}

.pass_text_block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15px;
	width: 100%;
}

.pass_text_block h4 {
	width: 80%;
	margin: auto auto;
}

.pass_img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}

.pass_img img {
	width: 70%;
}

.pass_title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 24.5%;
	width: 100%;
}

.pass_title h3 {
	text-align: center;
	line-height: 1.5;
}

.split {
	width: 100%;
	height: .5%;
	background-color: #000;
}

/* ABOUTUS */

.aboutus {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80vh;
}

.aboutus_container, .aboutus_slider {
	width: 50%;
	height: 100%;
}

.aboutus_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.aboutus_container h2 {
	margin-bottom: 70px;
}

.aboutus_slider {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* TRAINERS */

.trainers {
	width: 100%;
	height: 100vh;
}

.trainers h2 {
	text-align: center;
	margin-bottom: 100px;
}

.trainers_content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.trainers_card {
	width: 23.5%;
	height: 47%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222222;
	border-radius: 5%;
}

.card {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.card_img {
	width: 95%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 20px;
}

.card_img img {
	width: 100%;
}

.links {
	width: 66.6%;
	height: 2.33%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-bottom: 20px;
}

.links a {
	width: 20%;
	height: 100%;
}

.links a img {
	width: 100%;
}

#inst:hover {
	content: url('images/inst_hover.png');
}

#facebook:hover {
	content: url('images/facebook_hover.png');
}

#twitter:hover {
	content: url('images/twitter_hover.png');
}

#youtube:hover {
	content: url('images/youtube_hover.png');
}

/* FOOTER*/

footer {
	width: 100%;
	height: 20vh;
}

.footer_content {
	max-width: 70%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.footer_logo, .footer_address, .footer_contact {
	width: 25%;
	height: 100%;
}

.footer_logo .logo, .footer_address h3, .footer_contact h3 {
	margin-bottom: 30px;
}

.data {
	display: flex;
	flex-direction: row;
}

.data h4 {
	width: 80%;
}

.data_img {
	width: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_links {
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 10px;
	padding-left: 10px;
	justify-content: space-around;
}

.footer_links a {
	width: 23%;
	height: 100%;
}

.footer_links a img {
	width: 70%;
}

/* MEDIA | ADAPTATIONS */

@media (orientation: landscape) {
	.home_back {
		right: -4%;
		top: -40vh;
		width: 110vh;
	}

	.rectangle {
		right: -4%;
		width: 110vh;
		height: 130vh;
	}

	.adv_container {
		flex-wrap: wrap;
		max-height: 50vh;
	}
}

@media (orientation: portrait) {
	.home_back {
		top: 0;
		left: 0;
		margin: 0 auto;
		max-width: 100%;
	}

	.rectangle {
		top: 0;
		left: 0;
		width: 100vw;
		height: 170vw;
	}

	.adv_container {
		flex-wrap: nowrap;
		flex-shrink: 1;
	}
}

